@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.splash-animation-container {
  height: 50vh;
}

.splash-title-container {
  font-size: 2.5rem;
  text-decoration: none;
}
.splash-title {
  /* font-family: 'Satisfy', cursive; */
  font-family: 'Silkscreen', cursive;
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 20px;
}
.splash-view-info {
  margin-top: 20px;
  font-size: 14px;
  color: grey;
  text-align: center;
}

@media (max-width: 768px) {
  .splash-title-container {
    font-size: 2rem;
  }
}

